.LeftBar {
    background-color: black;
    width: 10rem;
    height: 100vw;
}

.MainText {
    padding-left: 2rem;
    margin-top: 2rem;
    color: white;
}

.Nav_Link {
    text-decoration: none;
}

.Nav_Text {
    color: white;
}

.Nav_Link:hover > .Nav_Text {
    color: gray;
}


.icon {
    width: 1rem;
    height: auto;
}

.bold_line{
    height: 0.2rem;

    color: white;
    background-color: white;
}
